aiohttp
aioredis
aiosmtplib
aiosqlite
asyncio-throttle
black
ccxt
click
cryptography
flask
fastapi
flake8
mypy
numpy
pandas
uvicorn[standard]
prometheus-client
psutil
pydantic
plotly
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-telegram-bot
PyYAML
rich
sqlalchemy
ta-lib
websockets
pytest-cov
coverage
types-PyYAML
pandas-stubs
types-psutil
